@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-grey: #1e1e1e;
  --dark-grey: #27292a;
  --light-grey: #666;
  --off-white: #faf9f6;
  --primary-color: #e75e8d;
  --secondary-color: #505bd2;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--very-dark-grey);
  padding: 15px 50px;
  min-height: 100vh;
}

/* Utility Classes */

.mobile {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  min-height: 80px;
  margin: 0 auto;
  padding: 15px 0;
}

#header__left {
  display: flex;
  align-items: center;
}

#logo {
  padding-right: 20%;
  border-right: 1px solid var(--light-grey);
}

#search-input {
  margin-left: 15%;
  position: relative;
}

#search-text {
  background-color: var(--dark-grey);
  height: 46px;
  border-radius: 23px;
  border: none;
  outline: none;
  color: var(--off-white);
  font-size: 15px;
  padding: 0px 15px 0px 45px;
}

#search-input > i {
  position: absolute;
  color: var(--light-grey);
  left: 20px;
  top: 16px;
  width: 18px;
  height: 18px;
  font-size: 16px;
}

header > i {
  display: none;
  font-weight: 900;
  font-size: 25px;
  color: var(--primary-color);
}

#header__right > ul {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 30px;
  font-size: 15px;
}

.nav-link {
  text-decoration: none;
  color: var(--light-grey);
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link.active-nav {
  color: var(--primary-color);
}

#profile-tab {
  display: flex;
  align-items: center;
  background: var(--dark-grey);
  padding: 8px 10px 8px 20px;
  border-radius: 23px;
}

#profile-tab img {
  max-width: 30px;
  border-radius: 50%;
  margin-left: 5px;
}

main {
  background-color: var(--dark-grey);
  padding: 60px;
  border-radius: 23px;
  margin: 25px auto 0;
  max-width: 1280px;
}

#banner {
  background: url("./assets/images/banner-bg.jpeg") center center/cover
    no-repeat;
  min-height: 380px;
  border-radius: 23px;
  padding: 80px 60px;
}

.banner__text {
  width: 500px;
}

.banner__text > p {
  color: var(--off-white);
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 25px 0;
}

.banner__text h2 {
  font-size: clamp(1.5rem, 9.5vw, 2.5rem);
  line-height: clamp(2.5rem, 14vw, 3.5rem);
  /* line-height: 55px; */
  text-transform: uppercase;
  color: var(--off-white);
  margin: 0 0 25px 0;
}

.banner__text h2 span {
  color: var(--primary-color);
}

.primary-btn {
  background: var(--primary-color);
  color: var(--off-white);
  border: none;
  outline: none;
  padding: 12px 27px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.3s, background-color 0.3s;
}

.primary-btn:hover {
  background-color: var(--off-white);
  color: var(--primary-color);
}

#most-popular {
  margin-top: 60px;
  padding: 30px;
  background-color: var(--very-dark-grey);
  border-radius: 23px;
}

#most-popular > h3 {
  color: var(--primary-color);
  font-size: clamp(1.4rem, 6.9vw, 2rem);
  margin-bottom: 30px;
}

#most-popular > h3 > span {
  color: var(--off-white);
  text-decoration: underline;
}

#game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.game-item {
  flex-basis: 260px;
  border-radius: 23px;
  background-color: var(--dark-grey);
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

.game-item > img {
  border-radius: 23px;
  width: 230px;
  height: 130px;
  object-fit: cover;
}

.game-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

.game-title {
  color: var(--off-white);
}

.game-publisher {
  color: var(--light-grey);
}

.game-content-right {
  display: flex;
  justify-content: space-between;
  color: var(--off-white);
}

.game-content-right > p {
  cursor: pointer;
}

.game-wishlist {
  color: var(--primary-color);
}

.game-played {
  color: var(--secondary-color);
}

@media screen and (max-width: 1200px) {
  #logo {
    padding-right: 10%;
    border: none;
  }
  main {
    padding: 30px;
  }
  #header__right > ul {
    column-gap: 20px;
  }
  #search-input {
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  header {
    position: relative;
  }
  header > i {
    display: inline;
  }
  .mobile {
    display: unset;
  }
  #header__right {
    position: absolute;
    display: flex;
    justify-content: end;
    right: -30px;
    top: -35px;
    height: 102.8vh;
    padding: 20px 0 0;
    width: 0;
    transition: 0.5s;
    overflow: hidden;
  }
  #header__right > ul {
    flex-direction: column;
    row-gap: 10px;
    background: var(--dark-grey);
    width: 130px;
    padding: 20px;
  }
  #header__right > ul > i {
    color: var(--primary-color);
    align-self: flex-end;
    font-size: 20px;
    margin-bottom: 20px;
  }
  #profile-tab {
    display: none;
  }

  .banner__text {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #search-input {
    display: none;
  }
  body {
    padding: 15px 30px;
  }
  main {
    padding: 0;
    background-color: initial;
  }
  #banner {
    padding: 40px;
    text-align: center;
  }
  #most-popular {
    margin-top: 30px;
    padding: 0;
  }
  .game-item {
    flex-basis: 100%;
  }
  .game-item > img {
    width: 100%;
    height: 150px;
  }
}
